.fadeOut {
    opacity: 0;
    transition: opacity 0s;
}

.fadeIn {
    opacity: 1;
    transition: opacity 10s;
}

.resultsEnd {
    min-height: 80px !important;
}

.filterBtn {
    margin-top: 8px;
    height: 42px;
    float: right;
}

.dismissBtn {
    margin: 8px;
}