.uploadImageCard {
    width: 100%;
    margin-left: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
    align-content: flex-start;
    height: auto;
}

img .uploadImage {
    width: fit-content;
    object-fit: cover;
}

ion-list {
    border-radius: 5px;
}

.coreDetailsRow {
    margin-top: 8px;
}

.detailsList {
    margin-bottom: 16px;
}

@media only screen and (max-width: 900px) {
    .tagContainer {
        width: fit-content;
    }
}

.tagContainer {
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 16px;
    background-color: var(--ion-item-background);
    border-radius: 5px;
    min-width: 100%;
    min-height: 48px;
}

.tagEditBtn {
    float: right;
    padding: 0px;
    height: 32px;
    margin: 0px;
}

.tag {
    padding: 4px
}

.noTagText {
    transform: translateY(0);
}

.descriptionRow {
    margin-bottom: 16px;
}

.confirmDelete {
    color: var(--ion-color-danger) !important;
}

.dismissBtn {
    margin-bottom: 8px;
}