.eventImage {
    width: auto;
    height: auto;
    object-fit: cover;
}

@media only screen and (min-width: 900px) {
    .eventImage {
        height: 35vh !important;
    }
}

@media only screen and (max-width: 900px) {
    .eventImage {
        height: 30vh !important;
    }
    .suggestedEvents {
        width: fit-content;
    }
}

@media only screen and (max-width: 600px) {
    .eventImage {
        height: 25vh !important;
    }
}

.eventImageCard {
    width: 100%;
    margin-left: 0px;
    align-content: flex-start;
    height: auto;
}

.attendBtn {
    min-width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: inline-end;
}

.suggestedEvents {
    width: 100%;
    object-fit: cover;
    white-space: nowrap;
    overflow-x: scroll;
    vertical-align: text-top;
    scrollbar-width: none; /* Firefox */
}

.suggestedEvents::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.descriptionSuggestedEventsContainer {
    padding-left: 0px !important;
    padding-right: 0px !important;
 }

.detailsText {
    font-size: 12pt !important;
    text-align: left;
    margin-left: 0px;
    padding: 0% !important;
}

.timeLocationGrid {
    margin-left: 0px;
    padding: 0px;
}

.timeLocationRow {
    margin-left: 0px;
    padding: 0px;
}

.timeLocationCol {
    padding-left: 0px;
    text-align: center;
}

.eventSuggestion {
    display: inline-block;
    vertical-align: top; 
}